
/* EXTRA LARGE DEVICES: from 992px to up */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2% }
}

/* SMALL TABLETS OR BIG TABLETS: from 767px to 992px */
@media only screen and (max-width: 992px) {
    body { font-size: 18px }
    section { padding: 60px 0; }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
}

/* SMALL PHONES AND TABLETS: from 481px to 767px */
@media only screen and (max-width: 767px) {

}

/* SMALL PHONES: from 0 to 480px */
@media only screen and (max-width: 575px) {

}